In [1]:
a=10

In [6]:
if a < 15:
    print("My name is Namrata")

My name is Namrata

In [3]:
a<15

True

In [7]:
if a < 15:
    pass

In [8]:
if 24 < 15:
    print("My name is Namrata")

In [9]:
24<15

False

In [10]:
if 10<3:
    print("Yes")
else:
    print("No")

No

In [11]:
income=100
if income<50:
    print("k")
elif income<70:
    print("l")
elif income<90:
    print("u")
else:
    print("Q")

Q

In [12]:
income=int(input())
if income<50:
    print("k")
elif income<70:
    print("l")
elif income<90:
    print("u")
else:
    print("Q")

10
k

In [13]:
t_p=int(input())
if t_p > 20000:
    d=t_p * .20
    print("Discount will be ",d)
elif t_p <= 7000:
    d=t_p * .05
    print("discount will be",d)
else:
    print("no discount")

4565
discount will be 228.25

In [14]:
t_p=int(input())
if t_p > 20000:
    d=t_p * .20
    print("Discount will be ",d)
elif t_p <= 7000:
    d=t_p * .05
    print("discount will be",d)
else:
    print("no discount")

8000
no discount

In [15]:
coup ="NAMRATA"
if coup == "NAMRATA":
    print("yes")
    p=7080-7080*8.50
    print("Paid",p)
else:
    print("wrong coupan")

yes
Paid -53100.0

In [17]:
coup =input()
if coup == "NAMRATA":
    print("yes")
    p=7080-7080*.05
    print("Paid",p)
else:
    print("wrong coupan")

NAMRATA
yes
Paid 6726.0

In [19]:
"nam"=="nam"

True

In [23]:
study_hr=int(input())
if study_hr<1:
    print("8-9")
elif study_hr <4 and study_hr>1:
    print("6")
elif study_hr>10:
    print("3")
else:
    print("difficult")

2
6

In [ ]:
study_hr=int(input())
if study_hr<1:
    print("8-9")
elif study_hr <4 and study_hr>1:
    print("6")
elif study_hr>10:
    print("3")
else:
    print("difficult")

In [30]:
a = 9
if a == 9:
    print("valid")

valid

In [35]:
s = input("string ")
c=input("course ")
service=input("service ")
if s == "one":
    if c=="DSA":
        print("yes")
    elif c=="BlockChain":
         print("yes1")
    elif c=="FSDS":
        print("yes2")
    else:
        print("Not")
elif s=="two":
    if service=="course":
        print("yes3")
    elif service=="module":
        print("yes4")
    elif service=="doubt":
        print("yes5")
    elif service=="work":
        print("yes6")
    else:
        print("no")     
else:
    print("NO9")

string two
course jhd
service work
yes6

In [36]:
l = [1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [37]:
for i in "namrata":
    print(i)

n
a
m
r
a
t
a

In [38]:
t=(1,2,3,4,5,6,6)

In [39]:
for i in t:
    print(i)

1
2
3
4
5
6
6

In [40]:
l=[1,4,5.6,4+7j,"sudh"]

In [43]:
for i in l:
    print(type(i),"type of",i)

<class 'int'> type of 1
<class 'int'> type of 4
<class 'float'> type of 5.6
<class 'complex'> type of (4+7j)
<class 'str'> type of sudh

In [42]:
type(l)

list

In [45]:
l=[1,4,5.6]
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

3
6
7.6

In [47]:
l1

[3, 6, 7.6]

In [60]:
l=[2,45,78,12,"nam",6+7j,[56,67,78,5,8+5j,"kl"]]

In [61]:
for i in l:
    if type(i)==int:
        print(i)
    elif type(i)==list:
        for j in i:
            if type(j)==int:
                print(j)

2
45
78
12
56
67
78
5

In [74]:
l=[2,5,78,12,"nam",6+7j,[56,67,78,"dsfdsf"]]
for i in l:
    print("index of",i,"is",l.index(i))
for j in l:
    if type(j)==str:
        for k in j:
            if type(k)== chr:
                print(k)

index of 2 is 0
index of 5 is 1
index of 78 is 2
index of 12 is 3
index of nam is 4
index of (6+7j) is 5
index of [56, 67, 78, 'dsfdsf'] is 6

In [82]:
l=[2,5,78,12,"nam",6+7j,[56,67,78,"dsfdsf"]]
for j in l:
    if type(j)==str:
        l1=[]
        for k in j:
            l1.append(k)
        print(l1)

['n', 'a', 'm']

In [84]:
l=[2,5,78,12,"nam",6+7j,[56,67,78,"dsfdsf"]]
l2=[]
for j in l:
    if type(j)==int:
        l2.append(j**2)
print(l2)

[4, 25, 6084, 144]

In [77]:
for i in range(len(l)):
    print("index",i,"for an element",l[i])

index 0 for an element 2
index 1 for an element 5
index 2 for an element 78
index 3 for an element 12
index 4 for an element nam
index 5 for an element (6+7j)
index 6 for an element [56, 67, 78, 'dsfdsf']

In [78]:
l

[2, 5, 78, 12, 'nam', (6+7j), [56, 67, 78, 'dsfdsf']]

In [80]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 5)
(2, 78)
(3, 12)
(4, 'nam')
(5, (6+7j))
(6, [56, 67, 78, 'dsfdsf'])