In [1]:
s="this is basic python class"

In [2]:
len(s)

26

In [4]:
count=0
for i in s:
    #count=count+1
    count+=1
print(count)

26

In [5]:
s[::-1]

'ssalc nohtyp cisab si siht'

In [6]:
for i in range(len(s)-1,-1,-1):
    print(s[i])

s
s
a
l
c

n
o
h
t
y
p

c
i
s
a
b

s
i

s
i
h
t

In [7]:
i=len(s)-1
while(i>=0):
    print(s[i],end=" ")
    i=i-1

s s a l c   n o h t y p   c i s a b   s i   s i h t

In [8]:
s

'this is basic python class'

In [9]:
s="ineuron"
v="AaEeIiOoUu"

In [14]:
for i in s:
    if i in v:
        print("vowel",i)
    else:
        print("not vowel",i)

vowel i
not vowel n
vowel e
vowel u
not vowel r
vowel o
not vowel n

In [15]:
s in "sudh"

False

In [17]:
"u" in "sudh"

True

In [18]:
s

'ineuron'

In [19]:
"tnent"
"malayalam"
"eye"

'eye'

In [21]:
s=input()
k=s[::-1]
if s==k:
    print("palindrome")
else:
    print("not")

tnent
palindrome

In [35]:
s=input()
k=""
for i in s:
    k=i+k
if s==k:
    print("palindrome")
else:
     print("not")

hi
not

In [39]:
s=input()
k=''.join(reversed(s))
if s==k:
    print("palindrome")
else:
     print("not")

eye
palindrome

In [40]:
s

'eye'

In [41]:
d={"india":"IN",
   "canada":"CA",
   "china":"CH",
   "united state":"US"
  }

In [42]:
"india" in d

True

In [53]:
s=""
k=""
for i in d:
    if len(i)>5:
        s=s+" "+i
    else:
        k=k+" "+i
print("greater than 5:",s)
print("less than or equal to 5:",k)

greater than 5:  canada united state
less than or equal to 5:  india china

In [54]:
greater=[]
smaller=[]
for i in d:
    if len(i)>5:
        greater.append(i)
    else:
        smaller.append(i)

In [56]:
greater

['canada', 'united state']

In [57]:
smaller

['india', 'china']

In [59]:
d_1={"ineuron" :{
                   "a":14,
                   "b":10,     
                   "c":4
                  },
     
     "course" :{
                   "d":45,
                   "e":34,     
                   "f":1
                  }
     
    }

In [68]:
for i in d_1.values():
    for j in i.values():
        print(j)

14
10
4
45
34
1

In [69]:
for i in d_1.values():
    print(max(i.values()))

14
45

In [71]:
for i in d_1.values():
    max=0
    for j in i.values():
        if max<j:
            max=j
    print(max)

14
45

In [72]:
d_1={"ineuron" :{"a":14,"b":10,"c":4},"course" :{"d":45,"e":34,"f":1}}

In [85]:
d_1

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 34,
 'h': [45, 6, 7, 8, 9, 3],
 'i': (45, 34, 2),
 'k': 'sudh'}

In [2]:
d_1={"ineuron" :{"a":14,"b":10,"c":4},"course" :{"d":45,"e":34,"f":1},
     "g":345,"h":[45,6,7,8,9,3],"i":(45,34,2),"k":"sudh"}

In [8]:
lst=[]
for i in d_1.values():
    if type(i)==set:
        lst.append(max(i))
    elif type(i)==tuple:
        lst.append(max(i))
    elif type(i)==dict:
        lst.append(max(i.values()))
    elif type(i)==list:
        lst.append(max(i))
    elif type(i)== str:
        pass
    else:
        lst.append(i)
        
print(max(lst))

345

In [6]:
t=(5,6,7,8)
max(t)

8

In [7]:
l=[14,10,3,56,24,7,86,3]
type(l)

list

In [4]:
print(max(l))

86

In [105]:
max

0